<div class="cards">
  <ul>
    card1:
    <input autofocus="true" [value]="cards[0]" (keyup)="handleInputKeyUp($event,0)">
  </ul>
  <ul>
    card2:
    <input [value]="cards[1]" (keyup)="handleInputKeyUp($event,1)">
  </ul>
  <ul>
    card3:
    <input [value]="cards[2]" (keyup)="handleInputKeyUp($event,2)">

  </ul>
  <ul>
    card4:
    <input [value]="cards[3]" (keyup)="handleInputKeyUp($event,3)">
  </ul>
  <hr />
  <button (click)="confirm()">确定</button>
</div>
<div class="results">
  <ul>{{outPut.message}}</ul>
  <ul *ngFor="let item of outPut.results">{{item}}</ul>
</div>
